<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <appSettings>
    <add key="storageAccount" value="teched" />
    <add key="storageKey" value="/aOibnZ1/AHo93mM7IImWLr1Z5pKjUEdk+D5FBX+SF6JKi0kdQHXhhkn9ZfB4wWX8PTHlvN7r4wlyvUpj+6AFA==" />
  </appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="IDocumentSerializer"  type="TechEd.Demo.SolidPrinciples.Dip.IoCContainer.IDocumentSerializer, TechEd.Demo.SolidPrinciples.Dip.IoCContainer" />
    <alias alias="IInputRetriever"      type="TechEd.Demo.SolidPrinciples.Dip.IoCContainer.IInputRetriever, TechEd.Demo.SolidPrinciples.Dip.IoCContainer" />
    <alias alias="IDocumentPersister"   type="TechEd.Demo.SolidPrinciples.Dip.IoCContainer.IDocumentPersister, TechEd.Demo.SolidPrinciples.Dip.IoCContainer" />
    <alias alias="BlobDocumentStorage"  type="TechEd.Demo.SolidPrinciples.Dip.IoCContainer.BlobDocumentStorage, TechEd.Demo.SolidPrinciples.Dip.IoCContainer" />
    <alias alias="InputParser"          type="TechEd.Demo.SolidPrinciples.Dip.IoCContainer.InputParser, TechEd.Demo.SolidPrinciples.Dip.IoCContainer" />

    <container>
      <!--<register type="IDocumentSerializer" mapTo="TechEd.Demo.SolidPrinciples.Dip.IoCContainer.IndentedCamelCaseJsonSerializer, TechEd.Demo.SolidPrinciples.Dip.IoCContainer" />-->
      <register type="IDocumentSerializer" mapTo="TechEd.Demo.SolidPrinciples.Dip.IoCContainer.CamelCaseJsonSerializer, TechEd.Demo.SolidPrinciples.Dip.IoCContainer" />
      <register type="InputParser" mapTo="TechEd.Demo.SolidPrinciples.Dip.IoCContainer.JsonInputParser, TechEd.Demo.SolidPrinciples.Dip.IoCContainer" />
    </container>

  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>